/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layer definitions
    #define BASE 0
		#define MACBASE 1
    #define SYM 2
    #define EXT 3
    #define FNC 4
    #define SYM2 5
    #define MACEXT 6

// -----------------

&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

     combos {
        compatible = "zmk,combos";
				// internal-left & external-right thumb keys
				combo_sym2 {
						timeout-ms = <200>;
						key-positions = <31 33>;
						bindings = <&mo SYM2>;
				};

				// both left thumb keys
				combo_settings {
						timeout-ms = <300>;
						key-positions = <30 33>;
						bindings = <&mo FNC>;
				};

    };

        keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp Q &kp W &kp F &kp P &kp B 						&kp J &kp L  &kp U &kp Y &kp QUOT
		&kp A &kp R &kp S &kp T &kp G 			        	&kp M &kp N &kp E &kp I &kp O
		&kp Z &kp X &kp C &kp D &kp V				        &kp K &kp H  &kp CMMA &kp DOT &kp SLASH
          				&mo EXT &kp LSHIFT  				&kp SPC &mo SYM 
		>;
		};

		// MAC

				mac_default_layer {
		bindings = <
		&kp Q &kp W &kp F &kp P &kp B 						&kp J &kp L  &kp U &kp Y &kp QUOT
		&kp A &kp R &kp S &kp T &kp G 			        	&kp M &kp N &kp E &kp I &kp O
		&kp Z &kp X &kp C &kp D &kp V				        &kp K &kp H  &kp CMMA &kp DOT &kp SLASH
          				&mo MACEXT &kp LSHIFT  				&kp SPC &mo SYM 
		>;
		};

       		sym_layer {
		bindings = <
		&kp EXCL    &kp AT      &kp HASH    &kp COLON   &kp SEMI		    &kp EQUAL       &kp NUM_7   &kp NUM_8 &kp NUM_9  &kp KP_PLUS 
		&kp BSLH    &kp PIPE    &kp LBRC    &kp LPAR    &kp LBKT 		    &kp KP_ASTERISK &kp NUM_4   &kp NUM_5 &kp NUM_6  &kp KP_MINUS 
		&kp MINUS   &kp UNDER 	&kp RBRC    &kp RPAR    &kp RBKT 	        &kp NUM_0       &kp NUM_1   &kp NUM_2 &kp NUM_3  &kp KP_SLASH 
					                                &none  &none  			&trans &none 
		>;
		};
		
	   // Main modifiers and arrow keys
		    ext_layer {
		bindings = <
		&kp ESC     &trans      &key_repeat     &kp PSCRN  &kp INS    			&kp PG_UP    &kp HOME   &kp UP    &kp END     &kp CAPS
		&sk LALT    &sk LGUI    &sk LSHIFT  &sk LCTRL  &sk RALT 			&kp PG_DN    &kp LEFT   &kp DOWN  &kp RIGHT   &kp DEL
		&kp LC(Z)   &kp LC(X)   &kp LC(C)   &kp RGUI   &kp LC(V)            &kp LC(BSPC) &kp BSPC   &kp TAB   &kp LC(V)   &kp ENTER
					                                &none &none             &trans  &none
		>;
		};
		
	 // Function keys with modifiers
       		fnc_layer {
		bindings = <
		&kp F1 &kp F2 &kp F3 &kp F4 &kp F5                  &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 
		&sk LALT &sk LGUI &sk LSHIFT &sk LCTRL &kp RALT     &kp F11 &kp F12  &kp PRINTSCREEN &trans &trans
		&tog MACBASE &none &none &none &none				          &none &none &none &none &none 
          				           &none &none              &none &none  
		>;
		};

        // Low frequency symbols.
       		symbols_2_layer {
		bindings = <
		&none &none &none &none &none        &none &kp AMPS &kp GRAVE &kp TILDE &none 
		&none &none &none &none &none        &none &kp DOLLAR &kp PRCNT &kp CARET &none 
		&none &none &none &none &none			  &none &none &none &kp HASH &none
          				 &none &none        	                &none &none 
		>;
		};

		
	   // Main modifiers and arrow keys
		    mac_ext_layer {
		bindings = <
		&kp ESC     &trans      &key_repeat      &kp PSCRN  &kp INS    			&kp PG_UP    &kp HOME   &kp UP    &kp END     &kp CAPS
		&sk LALT    &sk LCTRL    &sk LSHIFT  &sk LGUI  &sk RALT 			&kp PG_DN    &kp LEFT   &kp DOWN  &kp RIGHT   &kp DEL
		&kp LG(Z)   &kp LG(X)   &kp LG(C)   &kp RGUI   &kp LG(V)            &kp LA(BSPC) &kp BSPC   &kp TAB   &kp LG(V)   &kp ENTER
					                                &none &none             &trans  &none
		>;
		};
   
        
	};
};
